<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Text</h1>
<input type="text" name="txt_user" id="1" value="default value" size="20" maxlength="30"/><br>
<input type="text" name="txt_user" value="default value" size="40" maxlength="30" disabled="disabled" /><br>
<input type="text" name="txt_user1" value="readonly" size="20" maxlength="30" readonly="readonly" />
<hr>

<h1>Checkbox</h1>
<input type="checkbox" name="selection1" value="Yes" checked="checked" /> Selection 1
<input type="checkbox" name="selection2" value="Yes" /> Selection 2
<input type="checkbox" name="selection3" value="Yes" /> Selection 3
<hr>

<h1>Radio</h1>
<input type="radio" name="sex" value="M" checked="checked" /> Male <br>
<input type="radio" name="sex" value="F" /> Female
<hr>

<h1>Password</h1>
<input type="password" name="txt_passw" value="" size="10" maxlength="30" />
<hr>

<h1>File</h1>
    <input type="file" name="fileToUpload" id="fileToUpload">
<hr>

<h1>Hidden</h1>
<input type="hidden" name="id" value="1234" />
<hr>

<h1>Button</h1>
<input type="button" name="ok" value="OK" >
<hr>

<h1>Submit</h1>
<input type="submit" name="save" value="Save" />
<hr>

<h1>Reset</h1>
<form action="">
<input type="password" name="txt_passw" value="" size="10" maxlength="30" />
<input type="reset" name="Clear">
</form>
<hr>

<h1>Select</h1>
<select name="list" size="4" multiple>
<option value="1">option 1</option>
<option value="2">option 2</option>
<option value="3"selected="selected">option 3</option>
<option value="4">option 4</option>
<option value="5">option 5</option>
</select>
<hr>


้<h1>Textarea</h1>
<textarea name="comment" rows="20" cols="60">
________´$$$$`_____________________________,,,_
_______´$$$$$$$`_________________________´$$$`
________`$$$$$$$`______,,________,,_______´$$$$´
_________`$$$$$$$`____´$$`_____´$$`____´$$$$$´
__________`$$$$$$$`_´$$$$$`_´$$$$$`__´$$$$$$$´
___________`$$$$$$$_$$$$$$$_$$$$$$$_´$$$$$$$´_
____________`$$$$$$_$$$$$$$_$$$$$$$`´$$$$$$´_
___,,,,,,______`$$$$$$_$$$$$$$_$$$$$$$_$$$$$$´_
_´$$$$$`____`$$$$$$_$$$$$$$_$$$$$$$_$$$$$$´_
´$$$$$$$$$`´$$$$$$$_$$$$$$$_$$$$$$$_$$$$$´_
´$$$$$$$$$$$$$$$$$$_$$$$$$$_$$$$$$$_$$$$$´_
___`$$$$$$$$$$$$$$$_$$$$$$$_$$$$$$_$$$$$$´_
______`$$$$$$$$$$$$$_$$$$$__$$_$$$$$$_$$´_
_______`$$$$$$$$$$$$,___,$$$$,_____,$$$$$´_
_________`$$$$$$$$$$$$$$$$$$$$$$$$$$$$$´_
__________`$$$$$$$$$$$$$$$$$$$$$$$$$$$´_
____________`$$$$$$$$$$$$$$$$$$$$$$$$´_
_______________`$$$$$$$$$$$$$$$$$$$$´ _

</textarea>


</body>
</html>